<%= form_for(@box_record) do |f| %>
  <% if @box_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@box_record.errors.count, "error") %> prohibited this box_record from being saved:</h2>

      <ul>
      <% @box_record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :newspaper_box_id %><br>
    <%= f.number_field :newspaper_box_id %>
  </div>
  <div class="field">
    <%= f.label :date_t %><br>
    <%= f.datetime_select :date_t %>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :remark %><br>
    <%= f.text_area :remark %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
