<%= form_tag(newspaper_bases_path, method: :get, class: 'form-inline') do %>
  <label>Search by:</label>
  <label>Zip Code:</label> 
  <%= select_tag 'zip_code', options_for_select(NewspaperBox.zipcode_list, @selected_zip_code), prompt: 'All', class: 'form-control' %>
  <label>City:</label>
  <%= select_tag 'city', options_for_select(NewspaperBox.city_list, @selected_city), prompt: 'All', class: 'form-control' %>
  <label>borough:</label>
  <%= select_tag 'borough', options_for_select(NewspaperBox.borough_list, @selected_borough), prompt: 'All', class: 'form-control' %>
  <label>Trash Bin:</label>
  <%= check_box_tag 'trash', true, @selected_trash, class:'form-control' %>
  <%= hidden_field_tag 'table_type', 'hands' %>
  <%= button_tag 'submit', class:'btn btn-default'%>
<% end %>