<%= form_for(@newspaper_base) do |f| %>
  <% if @newspaper_base.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@newspaper_base.errors.count, "error") %> prohibited this newspaper_box from being saved:</h2>

      <ul>
      <% @newspaper_base.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% model_name::ColumnName.each do |column|  %>
    <% next if [:delete, :created_at].include?(column) %>
    <div class="field">
      <%= f.label column %><br>
      <%= newspaper_form_items(f)[column].call  %>
    </div>
  <% end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
