<h3><%= newspaper_display_by_type %> List</h3>

<br>
<%= render "new_export_button" %>
<%= render "query_form" %>
<% if @selected_trash %>
  <%= render "trash_list"%>
<% else %>
  <%= render "box_list" %>
<% end %>

<br>

<script>
  $(document).ready(function(){
    $('.best_in_place').best_in_place();
  })
</script>