<h3>Newspaper Boxes List</h3>

<%= form_tag(newspaper_bases_path, method: :get, class: 'form-inline') do %>
  <label>Select Table:</label>
  <%= select_tag 'table_type', options_for_select(["hands", "boxes"], @table_type), class: 'form-control' %>
  <%= button_tag 'submit', class: 'btn btn-default'%>
<% end %>
<br>
<%= render "newspaper_#{@table_type}/new_export_button" %>
<%= render "newspaper_#{@table_type}/query_form" %>
<% if @selected_trash %>
  <%= render "newspaper_#{@table_type}/trash_list"%>
<% else %>
  <%= render "newspaper_#{@table_type}/box_list" %>
<% end %>

<br>

<script>
  $(document).ready(function(){
    $('.best_in_place').best_in_place();
  })
</script>