<h1>Listing newspaper_boxes</h1>

<%= button_to 'New Newspaper box', new_newspaper_box_path, method: :get%>

<table class="table table-border table-hover">
  <thead>
    <tr>
      <th> DEL </th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Borough detail</th>
      <th>Address remark</th>
      <th>Create Date</th>
      <th>Deliver type</th>
      <th>Iron Box</th>
      <th>Plastic Box</th>
      <th>Selling Box</th>
      <th>Paper_shelf</th>
      <th>Mon</th>
      <th>Tue</th>
      <th>Wed</th>
      <th>Thu</th>
      <th>Fri</th>
      <th>Sat</th>
      <th>Sun</th>
      <th>Remark</th>
    </tr>
  </thead>

  <tbody>
    <% @newspaper_boxes.each do |newspaper_box| %>
      <tr>
        <td><%= link_to 'x', newspaper_box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= best_in_place newspaper_box, :address, type: :input%></td>
        <td><%= best_in_place newspaper_box, :city, type: :input%></td>
        <td><%= best_in_place newspaper_box, :state, type: :input %></td>
        <td><%= best_in_place newspaper_box, :zip, type: :input %></td>
        <td><%= best_in_place newspaper_box, :borough_detail, type: :input %></td>
        <td><%= best_in_place newspaper_box, :address_remark, type: :input%></td>
        <td><%= newspaper_box.created_at.strftime("%F") %></td>
        <td><%= best_in_place newspaper_box, :deliver_type, type: :input %></td>
        <td><%= best_in_place newspaper_box, :iron_box, type: :input %></td>
        <td><%= best_in_place newspaper_box, :plastic_box, type: :input %></td>
        <td><%= best_in_place newspaper_box, :selling_box, type: :input %></td>
        <td><%= best_in_place newspaper_box, :paper_shelf, type: :input %></td>
        <td><%= best_in_place newspaper_box, :mon, type: :input %></td>
        <td><%= best_in_place newspaper_box, :tue, type: :input %></td>
        <td><%= best_in_place newspaper_box, :wed, type: :input %></td>
        <td><%= best_in_place newspaper_box, :thu, type: :input %></td>
        <td><%= best_in_place newspaper_box, :fri, type: :input %></td>
        <td><%= best_in_place newspaper_box, :sat, type: :input %></td>
        <td><%= best_in_place newspaper_box, :sun, type: :input %></td>
        <td><%= best_in_place newspaper_box, :remark, type: :textarea %></td>
      </tr>
    <% end %>
    <tr>
      <% 13.times.each do |i| %>
        <td>
      <% end %>
      <% %w(mon tue wed thu fri sat sun).each do |week_day|%>
      <td><%= @newspaper_sum[week_day.to_sym] %></td>
    <% end %>
    </tr>
  </tbody>
</table>

<br>


<h2>Import CSV File</h2>

<%= form_tag upload_file_newspaper_boxes_path, multipart: true do %>
  <%= label_tag :file, "Select File"%>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<script>
  $(document).ready(function(){
    $('.best_in_place').best_in_place();
  })
</script>
