<h1>Listing newspaper_boxes</h1>

<table class="table">
  <thead>
    <tr>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Borough detail</th>
      <th>Address remark</th>
      <th>Date t</th>
      <th>Deliver type</th>
      <th>Iron Box</th>
      <th>Plastic Box</th>
      <th>Selling Box</th>
      <th>Paper_shelf</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
      <th>Sunday</th>
      <th>Remark</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @newspaper_boxes.each do |newspaper_box| %>
      <tr>
        <td><%= newspaper_box.address %></td>
        <td><%= newspaper_box.city %></td>
        <td><%= newspaper_box.state %></td>
        <td><%= newspaper_box.zip %></td>
        <td><%= newspaper_box.borough_detail %></td>
        <td><%= newspaper_box.address_remark %></td>
        <td><%= newspaper_box.date_t %></td>
        <td><%= newspaper_box.deliver_type %></td>
        <td><%= newspaper_box.iron_box %></td>
        <td><%= newspaper_box.plastic_box %></td>
        <td><%= newspaper_box.selling_box %></td>
        <td><%= newspaper_box.paper_shelf %></td>
        <td><%= best_in_place newspaper_box, :mon, type: :input %></td>
        <td><%= newspaper_box.tue %></td>
        <td><%= newspaper_box.wed %></td>
        <td><%= newspaper_box.thu %></td>
        <td><%= newspaper_box.fri %></td>
        <td><%= newspaper_box.sat %></td>
        <td><%= newspaper_box.sun %></td>
        <td><%= newspaper_box.remark %></td>
				<td><%= link_to 'Record', view_box_record_path(newspaper_box) %></td>
        <td><%= link_to 'Show', newspaper_box %></td>
        <td><%= link_to 'Edit', edit_newspaper_box_path(newspaper_box) %></td>
        <td><%= link_to 'Destroy', newspaper_box, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Newspaper box', new_newspaper_box_path %>

<h2>Import CSV File</h2>

<%= form_tag upload_file_newspaper_boxes_path, multipart: true do %>
  <%= label_tag :file, "Select File"%>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
<script>
  $(document).ready(function(){
    $('.best_in_place').best_in_place();
  })
</script>
