<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @newspaper_box.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @newspaper_box.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @newspaper_box.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @newspaper_box.zip %>
</p>

<p>
  <strong>Borough detail:</strong>
  <%= @newspaper_box.borough_detail %>
</p>

<p>
  <strong>Plastic Box </strong>
  <%= @newspaper_box.plastic_box %>
</p>
<p>
  <strong>Iron Box </strong>
  <%= @newspaper_box.iron_box %>
</p>

<p>
  <strong>Selling Box </strong>
  <%= @newspaper_box.selling_box %>
</p>

<p>
  <strong>Paper Shelf </strong>
  <%= @newspaper_box.paper_shelf %>
</p>

<p>
  <strong>Monday </strong>
  <%= @newspaper_box.mon %>
</p>


<p>
  <strong>Tuesday </strong>
  <%= @newspaper_box.tue %>
</p>

<p>
  <strong>Wednesday </strong>
  <%= @newspaper_box.wed %>
</p>


<p>
  <strong>Thursday </strong>
  <%= @newspaper_box.thu %>
</p>

<p>
  <strong>Friday </strong>
  <%= @newspaper_box.fri %>
</p>


<p>
  <strong>Saturday </strong>
  <%= @newspaper_box.sat %>
</p>


<p>
  <strong>Sunday </strong>
  <%= @newspaper_box.sun %>
</p>

<p>
  <strong>Address remark:</strong>
  <%= @newspaper_box.address_remark %>
</p>

<p>
  <strong>Date t:</strong>
  <%= @newspaper_box.date_t %>
</p>

<p>
  <strong>Deliver type:</strong>
  <%= @newspaper_box.deliver_type %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @newspaper_box.remark %>
</p>

<%= link_to 'Edit', edit_newspaper_box_path(@newspaper_box) %> |
<%= link_to 'Back', newspaper_boxes_path %>
